*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Arial;
    color: #252323;
}

header{
    background-color: #DAD2BC;
    padding: 15px 20px;
    text-align: center;
    font-size: 2rem;
    flex: 0;
    display: flex;
    justify-content: space-between;
}

.add-button{
    position: relative;
    width: 80px;
    font-size: 2rem;
    background-color: #252323;
    color: #F5F1ED;
    border: none;
    border-radius: 5px;
    transition: transform .3s;
}

.add-button:hover{
    outline: none;
    transform: scale(1.1);
    box-shadow: 3px 3px 5px #00000067;
}

.books{
    background-color: #F5F1ED;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-books{
    font-size: 4rem;
    min-width: 80px;
}

/* .no-books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px;
    font-size: 3rem;
    color: #a4a4a4;
} */
/* 
.add-icon{
    filter: brightness(0) saturate(100%) invert(73%) sepia(7%) saturate(9%) hue-rotate(314deg) brightness(89%) contrast(88%);
    width: 512px;
} */

.modal{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .3s;

    background-color:#efece2;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.318);
    padding: 15px;
    display: flex;
    font-size: 2em;
    border-radius: 15px;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.form-element{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-checkbox input{
    appearance: none;
    -webkit-appearance: none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.form-checkbox input:checked{
    background-color: #70798C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-checkbox input:checked::after{
    content: "✔";
    color: white;
    font-size: 1.5rem;
}

.form-element input{
    width: 220px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px inset rgb(170, 169, 169);
}

.add-book-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-book-form button{
    font-size: 1.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    background-color: #252323;
    color: #F5F1ED;
}

#close-modal{
    transition: transform .3s;
}

#close-modal:hover{
    transform: scale(1.2);
    color: rgb(255, 45, 45);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.312);
}